@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Raleway:200,300,400,500,700&display=swap');

/* Root */

:root {
  --primary-font: 'Oswald';
  --secondary-font: 'Raleway';
}

body, html {
    color:white;
      background: rgba(64, 67, 71, 1)
}

a {
  text-decoration: none;
}

/* ./Root  */

/* TachyonsEx */

.ff-primary {
  font-family: var(--primary-font)
}

.ff-secondary {
  font-family: var(--secondary-font)
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #131516;
}

@media all and (max-width: 30em) {
  .dn-s {
    display: none;
  }
}

/* ./TachyonsEx */


/* nav */

.nav-wrapper {
  position: fixed;
  height: 100%;
}

@media all and (max-width: 30em) {
  .nav-wrapper {
    left: -100%;
    transition: left .35s ease-in;
  }

  .nav-wrapper.active {
    left: 0;
  }
}

/* ./nav */

/* portfolio */
@media all and (min-width: 30em) {
  .portfolio-grid-item {
    flex-basis: 35%
  }
}

.portfolio-grid-item:hover .portfolio-item-info {
  opacity: 1;
  width: 100%
}


/* ./portfolio */

/* animations */

.magictext {
  opacity: 0;
  animation: magictext .7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes magictext {
    0% {
      transform: translateY(-50%);
      opacity: 0
    }

    25% {
      transform: translateY(-40%);
      opacity: .25
    }
    50% {
      transform: translateY(-30%);
      opacity: .5
    }
    75% {
      transform: translateY(-20%);
      opacity: .75
    }
    100% {
      transform: translateY(0);
      opacity: 1
    }
}

.wave {
  animation: wave 1s ease-in-out;
  animation-delay: .2s;
  animation-iteration-count: 7;
  animation-fill-mode: forwards;
}


@keyframes wave {
  0%{
    transform: rotate(15deg)
  }

  50% {
    transform: rotate(-15deg)
  }

  100% {
    transform: rotate(15deg)
  }
}

.roll-in {
  animation: roll-in 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes roll-in {
  0% {
    right: 60%;
    transform: rotate(36deg);
  }

  100% {
    right: 0;
    transform: rotate(360deg);
  }
}

/* ./animations */

/* general */


@media all and (min-width: 30em) {
  .page-wrapper {
    padding-left: 233px;
  }
}

/* ./general */