@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');


/* Root */

:root {
  --primary-font: 'Oswald';
  --secondary-font: 'Raleway';
}

body, html {
    color:black
}

a {
  text-decoration: none;
}

/* ./Root  */

/* TachyonsEx */

.ff-primary {
  font-family: var(--primary-font)
}

.ff-secondary {
  font-family: var(--secondary-font)
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #131516;
}

/* ./TachyonsEx */


/* nav */

.nav-wrapper {
  position: fixed;
  height: 100%;
}

@media all and (max-width: 30em) {
  .nav-wrapper {
    left: -100%;
    transition: left .35s ease-in;
  }

  .nav-wrapper.active {
    left: 0;
  }
}

/* ./nav */